.restaurant-conatiner {
    border: 1px solid darkgrey;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
    
}

.details {
    width: 200px;
}

.txt-strong {
    font-weight: bold;
}